.view-auidence {
    background-color: white;
    height: 100%;
    position: relative;
    width: 100%;
}

.view-auidence > .view-auidence-header {
    height: 80px;
    width: 100%;
}

.view-auidence > .view-auidence-content {
    background-color: #0000001a;
    height: calc(100% - 80px);
    padding:24px;
    width: 100%;

}

.view-auidence > .view-auidence-content > .save-segment-btn {
    background-color: #0000001a;
    border: 2px solid #ffffff;
    color:white;
    font-size:14px;
    height: auto;
    padding: 12px 16px;
    width: auto;
}